@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Times New Roman', Times, serif;
}
.contact
{
position: relative;
min-height: 100vh;
padding: 50px 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #1366e1;

}
.contact .content p
{
    font-weight: 300;
    color: #040c36c9;
    
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;


}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #eae6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#1070c8;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color:#1070c8 ;

}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2
{
    font-size: 30px;
    color: #3090d8;
    font-weight: 500;

}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
 position: absolute;
 left: 0;
 padding: 5px 0;
 font-size: 16px;
 margin: 10px 0;
 pointer-events: none;
 transition: 0.5s;
 color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
 color: #e91e63;
 font-size: 12px;
 transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #1888D0;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}

/* nav ko css
:root {
    --primary-color: #507DBC;
    --primary-color-dark: #0466C8;
    --secondary-color: #131516;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f8f8f8;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn {
    padding: .75rem 1.9rem;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_primary {
    color: #023e7d;
    border: 2px solid transparent;
    background-color: #8faae9;
}

.btn_secondary {
    color: var(--white);
    border: 2px solid transparent;
    background-color: #4f7eec;
}

.btn_primary:hover {
    background-color: var(--primary-color);
}

.btn_secondary:hover {
    background-color: var(--primary-color-dark);
}
html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Open sans", sans-serif;
}

.nav_bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    flex: 1;
}

.nav_logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: #0466C8;
    text-decoration: none;

}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    padding: 15px;
    font-weight: 600;
    color: var(--text-dark);
    text-decoration: none;
}

.link a:hover {
    color: var(--primary-color);
    text-decoration: none;

}

.nav_btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
} */